
/* * {
    border: 1px solid orange;
} */

/***** BASE STYLES *****/

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2b2b2b;
}

/***** GRID *****/

.full-width {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

.half-width{
    width: 600px;
    float: left;
   
}

.third-width{
    width: 400px;
    float: left;
}

/***** HEADER *****/
header {
    height: 800px;
    background: url('../img/full-background.png');
    background-size: cover;
    background-position: center;
}
	
header h1 { 
    padding: 65px 0 65px 25px;
    font-family: 'Lora', serif;
    color: rgb(179, 219, 92);
    font-weight: bold;
}
/***** END HEADER *****/

/***** NAV *****/
nav {
    /* margin-top: 0; */
    float: right; 
    padding: 75px 25px;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12;
    color: grey;
    padding-left: 80px; 
}

header h2 {
    width: 800px;
    clear: both;
    font-family: 'Lora', serif;
    font-size: 50px;
    line-height: 60px;
    color:grey;
    padding: 20px 0 20px 25px;
}
header h2 span {
    color: black;
}

/***** END NAV *****/

/***** ABOUT *****/
/* For the full-width class for the #about section, give it 80px of padding on the top and bottom, and no padding on either side. */

#about .full-width {
    padding:80px 0;
}

#about h2 {
    font-family: 'Lora', 'serif';
    font-size: 24px;
    padding-left: 50px;
    
}

#about p {
    font-size: 'Lora', 'serif' ;
    color:  #7f7f7f;
    line-height: 40px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
}
/***** END ABOUT *****/

/***** WORK *****/
#work {
    background-color: #f0c6af;
    text-align: center;
}

#work .full-width {
    padding: 115px 0;
}

#work img {
    padding-bottom: 30px;
}

#work h3 {
    font-size: 24px;
    line-height: 28px;
    width:190px;
    margin: 0 auto;
}
 
#work p {
    font-family:'Lora', serif ;
    font-size: 18px;
    line-height: 30px;
    padding: 0 50px;
}

/***** END WORK *****/

/***** CONTACT *****/

#contact {
    background-color: #f0f0f0;
}

#contact .full-width {
    padding: 110px 0;
}

#contact img#contact-img {
    margin-left: 25px;
    border: 12px solid white;
}

#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
    padding-left: 115px;
}
#contact #envelope {
    padding: 0 10px 0 115px;
}

#contact h2 {
    font-family: 'Lora', serif;
    font-size: 32px;
    line-height:10px;
}

#contact #email-header{
    font-size: 24px;
    font-family: 'Arial', serif;
    font-weight: bold;
    line-height: 70px;
    margin: -30px 0 5px 0;
}

#contact #socialmedia-header {
    font-weight: bold;
    font-size: 24px;
    line-height: 12px;
    margin: 40px 0 0 0;
}

#contact a {
    text-decoration: none;
    color:#fbcfb7;
    font-weight: bold;
    font-size: 24px;
}

#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    padding-right: 48px;
}

/***** END CONTACT *****/